* { box-sizing: inherit; }

/* GRID */
.wrapper {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 50px 0 75px;
    position: relative;
}

.wrapper:before, .wrapper:after, .cf:before, .cf:after { content: " "; display: table; }
.wrapper:after, .cf:after { clear: both; }

.w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, .w9, .w10, .w11, .w12 {
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
}
.w1 { max-width: 80px; }
.w2 { max-width: 160px; }
.w3 { max-width: 240px; }
.w4 { max-width: 320px; }
.w5 { max-width: 400px; }
.w6 { max-width: 480px; }
.w7 { max-width: 560px; }
.w8 { max-width: 640px; }
.w9 { max-width: 720px; }
.w10 { max-width: 800px; }
.w11 { max-width: 880px; }
.w12 { max-width: 960px; }

.f-l { float: left; }
.f-r { float: right; }

@media screen and (min-width: 960px) {
	.p-w1 { margin-left: 80px; }
	.p-w2 { margin-left: 160px; }
	.p-w3 { margin-left: 240px; }
	.p-w4 { margin-left: 320px; }
}


/* TYPOGRAPHY */
html {
	font-size: 100%;
}
body {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
    margin: 0;
    padding: 20px;
    font-size: 1rem;
    font-family: helvetica neue, sans-serif;
    line-height: 1.563;
    color: #444;
}

p {
    margin: 0;
    padding: 0 0 25px;
}

/* 16, 20, 36, 84, 116 */
h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    padding: 25px 0;
    margin: 0;
    color: #111;
    line-height: 1;
}
.s1, .s2, .s3 {
	font-weight: bold;
	color: #111;
}
.s1 {
    font-size: 7.25rem;
    letter-spacing: -6px;
    line-height: 1;
}
.s2 {
	font-size: 84px;
	letter-spacing: -3px;
	line-height: 1;
}
.s3 {
	font-size: 36px;
	letter-spacing: -1px;
    line-height: 1.563;
    color: #444;
}
.s4 {
    font-size: 1.25rem;
	font-weight: normal;
    line-height: 1.563;
    color: #aaa;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid #bbb;
}
a:hover {
	background: #e5e5e5;
}

.meta {
	color: #aaa;
}


img { max-width: 100%; width: auto; }
@media screen and (min-width: 960px) {
	img { max-width: none; }   
}


/* #CleanUp Needed */
body {
    line-height: 1.6;
    color: #333;
}
.s1 {
    font-size: 84px;
    letter-spacing: -3.5px;
    hyphens: auto;
}
.s4 {
    font-size: 15px;
    color: #999;
}
.wrapper {
    padding-bottom: 0;
}
.w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, .w9, .w10, .w11, .w12 {
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    padding: 5px 0 10px;
}




/* BG GRID */
#grid-wrapper {
	width: 1120px;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -560px;
	height: 100%;
	z-index: -1;
}
#grid-wrapper div {
	border-left: 1px dashed #eee;
	width: 80px;
	height: 100%;
	float: left;
    position: relative;
    margin: 0;
}
#grid-wrapper div:last-child {
	border-right: 1px dashed #eee;
}


