{{> header }}

<div class="header meta">
	<strong>Jinesh.org</strong>
	<span>For Internal Circulation Only</span>
</div>

<div class="wrapper">
	<div class="w1 f-r p-w4 meta">&larr; Home</div>
</div>

<div class="wrapper" style="padding-top: 30vh">
	<div class="w4 meta p-w4">
		<div>Last Edited: {{ date }}</div>
	</div>
	<div class="w9 p-w3">
		<h1 class="s1">{{ title }}</h1>
	</div>
	<div class="w5 meta f-l p-w4">
		<div>Filed Under: Perpetual work in progress</div>
		<div>Comments: Disabled</div>
	</div>
	<div class="w4 meta f-l">
		<div>Read Time: 5 minutes</div>
	</div>
</div>

<div class="wrapper">
	<div class="w6 p-w4">
		{{{ contents }}}
	</div>
</div>

<div class="wrapper">
	<div class="w1 p-w1" style="text-align: center;">
		<p><!-- <img src="toaster.png"> --></p>
	</div>
</div>

{{> footer }}
