{{> header }}

<div class="wrapper" style="padding: 25vh 0 0;">
	<div class="w3 p-w1">
		<p><strong>jinesh.org</strong></p>
		<br>
	</div>
</div>

<div class="wrapper" style="padding-top: 0px;">
	<div class="w4 p-w1 f-l">
		{{{ contents }}}
	</div>
	<div class="w4 p-w1 f-l">
		<p class="meta">For Internal Circulation Only:</p>
		<ul>
			<li><a href="#">Adopting a culture of documentation</a></li>
			<li><a href="#">Rice, a Nice RSS Browser</a></li>
			<li><a href="#">Hallway Tester's Definitive Field Guide</a></li>
			<li><a href="#">Why are font licenses so complicated</a></li>
			<li><a href="#">Making a mobile-first design gallery</a></li>
			<li><a href="#">Extension - Show a Random JS function</a></li>
			<li><a href="#">Telephonic interviews</a></li>
			<li><a href="#">Wordpress Serial Killer Board Plugin</a></li>
			<li><a href="#">Rectangle-Only Mockups</a></li>
		</ul>
	</div>
</div>

{{> footer }}
